<HTML>
  <HEAD>
	<TITLE>Welcome to Ottawa Garage Sales Online</TITLE>
  </HEAD>
  <BODY>
   <TABLE BORDER = "0" CELLSPACING = "no" CELLPADDING = "no" WIDTH = "77%" ALIGN = "CENTER">
	 <TR>
	  <TD HEIGHT = "150" COLSPAN = "10"><FONT COLOR = "BLUE" SIZE = "10">GARAGESALES LOGO</TD>
	  <TD><CENTER>ADVERTISE HERE</CENTER></TD>
	 </TR>
	 <TR COLSPAN = "10" ALIGN = "CENTER">
	  <TD BGCOLOR = "LIGHTBLUE"><FONT COLOR = "WHITE"><B><a href="/sales_info7s">list sales</A></B></FONT></TD>
	  <TD BGCOLOR = "WHITE" WIDTH = "4"></TD>
		  <TD BGCOLOR = "LIGHTBLUE"><FONT COLOR = "WHITE"><B>Advertise</B></FONT></TD>
		  <TD BGCOLOR = "WHITE" WIDTH = "4"></TD>
		  <TD BGCOLOR = "LIGHTBLUE"><FONT COLOR = "WHITE"><B>login</B></FONT></TD>
		  <TD BGCOLOR = "WHITE" WIDTH = "4"></TD>
			  <TD BGCOLOR = "LIGHTBLUE"><FONT COLOR = "WHITE"><B>About Us</B></FONT></TD>
			  <TD BGCOLOR = "WHITE" WIDTH = "4"></TD>
				  <TD BGCOLOR = "LIGHTBLUE"><FONT COLOR = "WHITE"><B>Free sales</B></FONT></TD>
				  <TD BGCOLOR = "WHITE" WIDTH = "4"></TD>
					  <TD BGCOLOR = "LIGHTBLUE"><FONT COLOR = "WHITE"><B>Contact</B></FONT></TD>
	 </TR>
	 <TR><TD COLSPAN = "12"><HR HEIGHT = "3"></TD></TR>
</TABLE>
</BODY>
</HTML>