<HTML>
  <HEAD>
  <TITLE>Welcome to Ottawa Garage Sales Online</TITLE>
  </HEAD>
  <BODY>
   <TABLE BORDER = "2" CELLSPACING = "no" CELLPADDING = "no" WIDTH = "77%" ALIGN = "CENTER" BORDERCOLOR = "DARKGREEN" BGCOLOR = "LIGHTGREEN" FRAME = "Hsides" RULES = "ROWS">
   <TR>
    <TD HEIGHT = "150" COLSPAN = "8"><FONT COLOR = "BLUE" SIZE = "10">
<IMG SRC = "/images/garage_logo.gif" WIDTH = "577" HEIGHT = "100"></TD>
    <TD><CENTER><!-- Begin WeatherLink Flash Fragment -->
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10,0,0,0" width="190" height="125">
	<param name="movie" value="http://dd.weatheroffice.gc.ca/lib/flash/wxlink_e.swf" />
	<param name="FlashVars" value="cityCode=on-118&amp;siteCode=s0000430&amp;provCode=ON&amp;language=e" />
	<param name="quality" value="high" />
	<embed src="http://dd.weatheroffice.gc.ca/lib/flash/wxlink_e.swf" FlashVars="cityCode=on-118&amp;siteCode=s0000430&amp;provCode=ON&amp;language=e" quality="high" pluginspage="http://www.adobe.com/go/getflashplayer" type="application/x-shockwave-flash" width="190" height="125" /> 
</object>
<!-- End WeatherLink Flash Fragment --></CENTER></TD>
   </TR>
</TABLE>
<TABLE BORDER = "0" ALIGN = "CENTER" WIDTH = "77%" cellpadding = "0" cellspacing = "no">
   <TR><TD BGCOLOR = "SILVER" HEIGHT = "7" COLSPAN = "12">

</TD></TR>
	 <TR COLSPAN = "10" ALIGN = "CENTER">
	  <TD BGCOLOR = "LIGHTBLUE"><FONT COLOR = "WHITE"><B><a href="/welcome_sales/home">Home</A></B></FONT></TD>
<TD BGCOLOR = "LIGHTBLUE"><FONT COLOR = "WHITE"><B><a href="/sales_info7s">List Sales</A></B></FONT></TD>
	  
	  
	  	  <TD BGCOLOR = "LIGHTBLUE"><FONT COLOR = "WHITE"><B><A HREF = "/extra/advertise">Advertise</A></B></FONT></TD>
			  <TD BGCOLOR = "LIGHTBLUE"><FONT COLOR = "WHITE"><B><A HREF = "/extra/login_extra">Login</A></B></FONT></TD>
				  <TD BGCOLOR = "LIGHTBLUE"><FONT COLOR = "WHITE"><B><A HREF = "/extra/aboutus">About Us</A></B></FONT></TD>
				  	  <TD BGCOLOR = "LIGHTBLUE"><FONT COLOR = "WHITE"><B><A HREF = "/supports/new">Free Sales</A></B></FONT></TD>
					  	  <TD BGCOLOR = "LIGHTBLUE"><FONT COLOR = "WHITE"><B><A HREF = "/welcome_sales/contact">Contact</A></B></FONT></TD></TR> 

	 <TR><TD HEIGHT = "7" BGCOLOR = "SILVER" COLSPAN = "12"><FONT COLOR = "SILVER"></FONT></TD></TR>
   </TABLE>
<TABLE WIDTH = "77%" BORDER = "0" ALIGN = "CENTER" style="border: 1px solid #000;"
CELLPADDING = "no" CELLSPACING = "no">	 <TR><TD COLSPAN = "12"> 
<HR COLOR = "RED" HEIGHT = "3"></TD></TR>
</TABLE>
<TABLE  BGCOLOR = "WHITE" style="border: 1px solid #000;" CELLPADDING = "NO" CELLSPACING = "no" WIDTH = "77%" ALIGN = "CENTER">
<TR><TD HEIGHT = "77%"><BLOCKQUOTE><FONT COLOR = "BLUE" SIZE = "2">We developed this website to give the garage saler a better place to list and browse garage sales! We decided to launch this website as a <B>free </B> website for a limited time! The free ads we offer are for at least a month. These include 
<UL>
<LI> Free Advertising
<LI> Free Garage Sale listing
<LI> Free Browsing of the ads ( will always be free )
</UL>
We feel , since it is free , we will attract visitors that post on other free sites, or even the ottawa citizen since our website is devoted to Garage Sales and Auctions only. Even when we charge for our sales, they will be at an extremly low price.
We would like to share this website with everyone you know to maximize visitors and bring <B>more </B> people to our website but also to your Garage Sales.</FONT></BLOCKQUOTE>
 </TD><TD><IMG SRC = "/images/aboutus.gif" WIDTH = "233" HEIGHT = "233"></TD></TR>
<TR><TD><TABLE BORDER = "0" BGCOLOR = "LIGHTGREEN" CELLPADDING = "10" BORDERCOLOR = "DARKGREEN" style="border: 2px solid #000;"><TR><TD>
<FONT COLOR = "BLUE" SIZE = "2">Your Advertisment here<BR>
Contact us <A HREF = "/supports/new">now</A> to Advertise in this spot! Spots are going fast, so get yours now!</FONT> </TD></TR></TABLE></TD>
<TD><TABLE BORDER = "0" BGCOLOR = "LIGHTGREEN" CELLPADDING = "10" BORDERCOLOR = "DARKGREEN" style="border: 2px solid #000;"><TR><TD>
<FONT COLOR = "BLUE" SIZE = "2">Your Advertisment here<BR>
Contact us <A HREF = "/supports/new">now</A> to Advertise in this spot! Spots are going fast, so get yours now!</FONT> </TD></TR></TABLE>