<HTML>
  <HEAD>
  <TITLE>Welcome to Ottawa Garage Sales Online</TITLE>
  </HEAD>
  <BODY>
   <TABLE BORDER = "2" CELLSPACING = "no" CELLPADDING = "no" WIDTH = "77%" ALIGN = "CENTER" BORDERCOLOR = "DARKGREEN" BGCOLOR = "LIGHTGREEN" FRAME = "Hsides" RULES = "ROWS">
   <TR>
    <TD HEIGHT = "150" COLSPAN = "8"><FONT COLOR = "BLUE" SIZE = "10">
<IMG SRC = "/images/garage_logo.gif" WIDTH = "577" HEIGHT = "100"></TD>
    <TD><CENTER><!-- Begin WeatherLink Flash Fragment -->
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10,0,0,0" width="190" height="125">
	<param name="movie" value="http://dd.weatheroffice.gc.ca/lib/flash/wxlink_e.swf" />
	<param name="FlashVars" value="cityCode=on-118&amp;siteCode=s0000430&amp;provCode=ON&amp;language=e" />
	<param name="quality" value="high" />
	<embed src="http://dd.weatheroffice.gc.ca/lib/flash/wxlink_e.swf" FlashVars="cityCode=on-118&amp;siteCode=s0000430&amp;provCode=ON&amp;language=e" quality="high" pluginspage="http://www.adobe.com/go/getflashplayer" type="application/x-shockwave-flash" width="190" height="125" /> 
</object>
<!-- End WeatherLink Flash Fragment --></CENTER></TD>
   </TR>
</TABLE>
<TABLE BORDER = "0" ALIGN = "CENTER" WIDTH = "77%" cellpadding = "0" cellspacing = "no">
   <TR><TD BGCOLOR = "SILVER" HEIGHT = "7" COLSPAN = "12">

</TD></TR>
	 <TR COLSPAN = "10" ALIGN = "CENTER">
	  <TD BGCOLOR = "LIGHTBLUE"><FONT COLOR = "WHITE"><B><a href="/welcome_sales/home">Home</A></B></FONT></TD>
<TD BGCOLOR = "LIGHTBLUE"><FONT COLOR = "WHITE"><B><a href="/sales_info7s">List Sales</A></B></FONT></TD>
	  
	  
	  	  <TD BGCOLOR = "LIGHTBLUE"><FONT COLOR = "WHITE"><B><A HREF = "/extra/advertise">Advertise</A></B></FONT></TD>
			  <TD BGCOLOR = "LIGHTBLUE"><FONT COLOR = "WHITE"><B><A HREF = "/extra/login_extra">Login</A></B></FONT></TD>
				  <TD BGCOLOR = "LIGHTBLUE"><FONT COLOR = "WHITE"><B><A HREF = "/extra/aboutus">About Us</A></B></FONT></TD>
				  	  <TD BGCOLOR = "LIGHTBLUE"><FONT COLOR = "WHITE"><B><A HREF = "/supports/new">Free Sales</A></B></FONT></TD>
					  	  <TD BGCOLOR = "LIGHTBLUE"><FONT COLOR = "WHITE"><B><A HREF = "/welcome_sales/contact">Contact</A></B></FONT></TD></TR> 

	 <TR><TD HEIGHT = "7" BGCOLOR = "SILVER" COLSPAN = "12"><FONT COLOR = "SILVER"></FONT></TD></TR>
   </TABLE>
<TABLE BORDER = "0" ALIGN = "CENTER" WIDTH = "77%" CELLPADDING = "2" BGCOLOR = "WHITE" CELLSPACING = "2" style="border: 1px solid #000;">
<TR><TD COLSPAN = "77"><BLOCKQUOTE><FONT SIZE = "3" COLOR = "DARKGREEN">Auctioneers!</BR></FONT>
<FONT COLOR = "BLUE" SIZE = "2">Get noticed - List your Auction our </FONT><FONT COLOR = "RED" SIZE = "2"><I>Home Page!</I></FONT><UL><LI><FONT COLOR = "RED" SIZE = "2"> Only $14.<SUP>77</SUP> for 7 Days
<LI>Only $24.<SUP>77</SUP> for 14 days.
</UL></FONT>
<FONT COLOR = "GREEN" SIZE = "2">Please choose <B>"List Auction"</B> in the menu!</TD><TD ROWSPAN = "2"><BR><TABLE BORDER = "0" BGCOLOR = "LIGHTGREEN" CELLPADDING = "10" BORDERCOLOR = "DARKGREEN" style="border: 2px solid #000;"><TR><TD COLSPAN = "2
" WIDTH = "20%">
<FONT COLOR = "BLUE" SIZE = "2">Your Advertisment here<BR>
Contact us <A HREF = "/supports/new">now</A> to Advertise in this spot! Spots are going fast, so get yours now!</FONT> </TD></TR></TABLE><BR>
<TABLE BORDER = "0" BGCOLOR = "LIGHTGREEN" CELLPADDING = "10" BORDERCOLOR = "DARKGREEN" style="border: 2px solid #000;"><TR><TD>
<FONT COLOR = "BLUE" SIZE = "2">Your Advertisment here<BR>
Contact us <A HREF = "/supports/new">now</A> to Advertise in this spot! Spots are going fast, so get yours now!</FONT> </TD></TR></TABLE></TD>
</TR><TR><TD COLSPAN = "77"><HR COLOR = "DARKGREEN" SIZE = "3"></TD></TR>
	<TR HEIGHT = "150" ROWSPAN = "2"><TD COLSPAN = "10">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= render 'form' %>
</TD>
<TD COLSPAN = "77">
<TABLE BORDER = "0" BGCOLOR = "LIGHTGREEN" CELLPADDING = "10" BORDERCOLOR = "DARKGREEN" style="border: 2px solid #000;"><TR><TD>
<FONT COLOR = "BLUE" SIZE = "2">Your Advertisment here<BR>
Contact us <A HREF = "/supports/new">now</A> to Advertise in this spot! Spots are going fast, so get yours now!</FONT> </TD></TR></TABLE><BLOCKQUOTE><FONT COLOR = "BLUE" SIZE = "2"><BR><BR><BR><BR><BR>
Wondering what to enter in the "Details" textbox?
<UL>
<LI>Add Garage Sale :
<UL>
<LI>The date of the Garage Sale
<LI>What time does the sale start
<LI>A title of the sale
<LI>Street Address
<LI>Description of what you will be selling
</UL>
<LI>Add an Advertisment :
<UL>
<LI>What page you wish to Advertise on.
<LI>A title of your advertisment
<LI>A breif description of your business
<LI>A website ( if you have one )
<LI>A phone number
</UL>
<LI>An Auction :
<UL>
<LI>How long you wish to have your ad up (ie. 1 - 2 weeks )
<LI>Auction date and time
<LI>Location - Street Address
<LI>What will be auctioned.
<LI>Any other pertinent information
</UL>
</UL></FONT>
</BLOCKQUOTE></TR>
</TABLE>
  </BODY>
 </HTML>



